body, html {
    margin:0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    
  }
  body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: black;
    color: white;
    text-align: center;
  }
  * {
    box-sizing: border-box;
    list-style-type: none;
    transition: all ease-in-out 250ms;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display:block;
    }

    .clearfix: :after,
    section: :after
    footer: :after {
    content: "";
    display: block;
    clear: both;
    }

/* typography
  ====================== */

h1 {
  font-size: 45px;
  font-family: "Rozha One";
  padding-top: 100px;
}




h2 {
    font-size: 20px;
    padding-top: 20px;
}

h3 {
    font-family: "Rozha One"; 
}


p {
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width:800px) {
    h1 {
  font-size: 150px;
  padding-top: 250px;
    }
    h2 {
        font-size: 50px;
        padding-top: 40px;
        
    }

    h3 {
        font-size: 80px;
    }
    p {
        padding-left: 150px;
        padding-right: 150px;
        font-size: 25px;
    }
  }

  a  {
      color: white;
  }
   


  /* BUTTONS
  ====================== */
  

  .button {
    display: inline-block;
    
    font-size: 20PX;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    padding: 10px 80px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 40px;
    }

    .button:hover {
        background-color: white;
        color: black;
        border: none;
        text-decoration: none;
    }

    @media (max-width:800px) {

        .button {
       
            font-size: 10PX;
           
           
            padding: 5px 20px;
            
            margin-top: 0px;
            }

    }


    
/* home hero
  ====================== */
    .home-hero {
        background-color: black;
        background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(bg.gif);
        background-size: cover;
        background-position: center;
        height: 40vh;
        margin-top: -30px;
    }

  

    @media (min-width:800px) {
        .home-hero {
           
            height: 60vh;
            margin-top: -30px;
        }
    }
     

       @media (min-width:1200px) {
        .home-hero {
           margin-left: 40px;
           margin-right: 40px;
            height: 95vh;
            
        }
      
       }


       /* about us
  ====================== */

  .right-about {
    background-color: black;
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(cat.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
  }

    .left-about {
padding-top: 30px;
padding-bottom: 30px;

    }

    .left-about p {
        padding-top: 20px;
    }

 


@media (min-width:1200px) {
    .left-about {
        width: 40%;
        float: left;
        padding-top: 250px;
        margin-left: 40px;
    }

    .right-about {
        width: 50%;
        float: right;
        height: 100vh;
        margin-right: 40px;
    }

    .left-about p {
        padding-top: 40px;
    }

  
   }


    /* grid
  ====================== */


  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  

  @media (min-width:1000px) {
    .image-grid {
        margin-top: 1000px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .image-grid h3 {
        text-align: right;
    }
    
    }






    /* creative
  ====================== */
  .creative-right {
    background-color: black;
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(woman.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
  }


  @media (min-width:1000px) {
.creative-left {
    width: 20%;
    float: left;
    margin-top: 200px;
}

.creative-left h3 {
 writing-mode: tb-rl;

}

.creative-middle {
    width: 30%;
    float: left;
    padding-top: 200px;
}

.creative-middle p {
    padding-left: 80px;
    padding-right: 80px;
}

.creative-right {
    width: 40%;
    float: right;
    height: 100vh;
    margin-right: 40px;
    margin-top: 10px;
}




  }

  /* visions
  ====================== */

.vision-img {
    background-color: black;
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(1.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 50%;
    float: right;
  }

  .aim {
      width: 50%;
      float: left;
      padding-top: 100px;
  }

  .aim p {
      padding: 10px;
  }

  @media (min-width:1000px) {
    .vision {

 margin-top: 1000px;
    }

    .vision-left {
        width: 40%;
        float: left;   
        margin-left: 40px;
    }

    .vision-left h3 {
padding-top: 300px;
    }

    .vision-left p {
        padding-top: 40px;
    }

    .vision-right {
        width: 50%;
        float: right;
    }

    .vision-img {
       
        height: 100vh;
    }

.aim h3 {
    font-size: 30px;
}

.aim p {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.aim {
    margin-top: 200px;
    

}

  }

  hr { 
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}


 /* GALLERY
  ====================== */
.gallery {
    margin-top: 500px
}


@media (min-width:1000px) {
 .left-gallery {
     width: 60%;
     float: left;
     height: 90vh;
     margin-left: 40px;
     margin-top: 70px;
 }

.right-gallery {
    width: 30%;
    margin-right: 40px;
    float: right;
}

.right-gallery h3 {
    padding-top: 250px;
}



}

footer {
    color:  grey;
    font-size: 10px;
    

}

footer h3 {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


@media (min-width:1000px) {
footer {
    margin-top: 3000px;
    margin-left: 100px;
    margin-right: 100px;
}

.left {
    width: 30%;
    float: left;
}

.middle {
    width: 30%;
    float: left;
    margin-left: 50px;
}

.right {
    width: 30%;
    float: right;
}
footer  p{
    font-size: 20px;
}
}